@font-face {
	font-family: "Maxa Grotesk"; 
	src: url("../fonts/Maxa-Grotesk-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Maxa Grotesk"; 
	src: url("../fonts/Maxa-Grotesk-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
	overflow-x:hidden;
}
body.maxa-riksa {
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Maxa Grotesk", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 23px;
	color: #000;
	background-color: #6000BF;
	scroll-behavior: smooth;
}
.maxa-riksa .title-h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 10px 4px #000000;
	margin: 0 0 20px;
}
.maxa-riksa .title-h2 {
	color: #fff;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 6px 4px #000000;
	margin: 0 0 10px;
}
.maxa-riksa .title-h3 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	line-height: 1.2;
	margin: 0 0 25px;
}
.maxa-riksa .section-title-h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	margin: 0 0 20px;
}
.maxa-riksa .section-title-h2 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 35px;
}
.maxa-riksa p {
	color: #fff;
	text-align: left;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.6;
	margin: .5em 0;
	word-break: break-word;
}
.maxa-riksa a {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}
.maxa-riksa .underline {
	text-decoration: underline;
}
.maxa-riksa .btn-wrapper {
	margin: 2em 0;
	z-index: 2;
}
.maxa-riksa .btn-button {
	background-color: #FFB233;
	border-width: 0;
	min-width: 180px;
	max-width: fit-content;
	border-radius: 38px;
	-webkit-box-shadow: 0px 10px 15px 0px rgba(57,55,61,1);
	-moz-box-shadow: 0px 10px 15px 0px rgba(57,55,61,1);
	box-shadow: 0px 10px 15px 0px rgba(57,55,61,1);
	color: #6000bf;
	padding: 15px 35px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.maxa-riksa .btn-button:hover {
	background-color: #FFB233e6;
}
.maxa-riksa .bg-orange {
	background-color: #FFB233;
}
.maxa-riksa .bg-violet-teal {
background: #00CCCC;
background: linear-gradient(0deg,rgba(0, 204, 204, 1) 0%, rgba(96, 0, 191, 1) 40%);
}
.maxa-riksa .bg-violet {
	background-color: #6000bf;
}
.maxa-riksa .bg-teal {
	background-color: #00b2b2;
}
.maxa-riksa .orange-color {
	color: #FFB233;
}
.maxa-riksa .teal-color {
	color: #00cccc;
}
.maxa-riksa .violet-color {
	color: #6000bf;
}
.maxa-riksa .white-color {
	color: #fff;
}
.maxa-riksa .strong {
	font-weight: 700;
}
.maxa-riksa .img-wh {
	width: 100%;
	height: auto;
}
.maxa-riksa .py-4 {
	padding: 2em 0;
}
.maxa-riksa .pt-2 {
	padding-top: 1em;
}
.container {
	width: 90%;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.container {
		width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		width: 1200px;
	}
}

/* Site header */
.maxa-riksa .site-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: top;
	-ms-flex-pack: top;
	justify-content: top;
	width: 100%;
	height: 75px;
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}
/* Site header end */

/* Mobile menu */
.maxa-riksa .menuItem {
	display: block;
	margin: 2rem 1.5rem;
}
.maxa-riksa .menuItem:hover {
	text-decoration: underline;
}
.maxa-riksa .hamburger {
	position: relative;
	z-index: 100;
	top: 0;
	right: 0;
	padding: 4px;
	border: 0;
	background: transparent;
	cursor: pointer;
}
.maxa-riksa .closeIcon {
	display: none;
}
.maxa-riksa .menu {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	-o-transition: transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
	z-index: 99;
	background: #502983;
	color: #fff;
	list-style: none;
	padding-top: 4rem;
}
.maxa-riksa .menu.showMenu {
	display: block !important;
}
.maxa-riksa .svg-menu-close {
	display: none;
}
.maxa-riksa .svg-menu {
	display: block;
}
.maxa-riksa .navigation-wrapper-mobile {
	display: block;
	position: fixed;
	top: 0;
	height: auto;
	width: 100%;
	z-index: 99;
	background-color: #502983;
}
.maxa-riksa .navigation-wrapper-mobile .navigation-modify-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	padding: 1em;
}
.maxa-riksa .navigation-wrapper-mobile .logo-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 15px;
}
.maxa-riksa .navigation-wrapper-mobile .logo-top a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.maxa-riksa .navigation-wrapper-mobile .logo-mobile-inner .logo-top img {
	width: 100px;
	height: auto;
}
.maxa-riksa .navigation-wrapper-mobile nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.maxa-riksa .navigation-wrapper-mobile ul {
	margin: 0;
	padding: 0;
}
/* Mobile menu end */
/* Desktop menu */
.maxa-riksa .navigation-wrapper-desktop .logo-top img {
	width: 150px;
	height: auto;
}
.maxa-riksa .navigation-wrapper-desktop nav li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.maxa-riksa .navigation-wrapper-desktop {
	display: none;
}
.maxa-riksa .navbar-scrolled {
	background-color: #6000bf;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.maxa-riksa .navigation-wrapper-desktop .navigation-modify-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	width: 100%;
}
.maxa-riksa .navigation-wrapper-desktop ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 13px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.maxa-riksa .navigation-wrapper-desktop nav .orange-color,
.maxa-riksa .navigation-wrapper-mobile nav .orange-color {
	color: #FFB233;
}
.maxa-riksa .navigation-wrapper-desktop nav a,
.maxa-riksa .navigation-wrapper-mobile nav a {
	position: relative;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .3px;
	line-height: 1.5;
	text-decoration: none;
	text-transform: uppercase;
}
.maxa-riksa .navigation-wrapper-desktop nav a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	bottom: 0;
	left: 0;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.maxa-riksa .navigation-wrapper-desktop nav a:hover:before {
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
.maxa-riksa .navigation-wrapper-desktop nav .link-item-update:hover:before {
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}
/* Desktop menu end */

/* MAIN */
.maxa-riksa .section {
	position: relative;
	width: 100%;
	max-width: 100%;
	scroll-margin-top: 50px;
}

/* --- HERO SECTION --- */
.maxa-riksa .hero-banner {
  position: relative;
  color: #ffffff;
  padding: 0;
  overflow: hidden;
}

.maxa-riksa .hero-container {
	background-image: url('../img/pozadi-top-benner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 30px;
  position: relative;
}

.maxa-riksa .hero-container.container {
	width: 100%;
}

.maxa-riksa .hero-content {
	position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(to bottom, rgba(51, 0, 123, 0.99) 0%, rgba(51, 0, 123, 0.80) 95%, rgba(51, 0, 123, 0) 100%);
  padding: 50px 20px 0 20px;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
}

.maxa-riksa .hero-title {
  font-size: 2.3rem;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px;
  padding: 20px;
  display: inline-block;
  transform: rotate(-2deg);
  position: relative;
  z-index: 1;
}
.maxa-riksa .hero-title::before {
  content: '';
  position: absolute;
  top: -20px;
    bottom: -5px;
    left: -15px;
    right: -30px;
  background-image: url('../img/zluty-stetec-top-banner.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.maxa-riksa .title-top {
  display: block;
  color: #33007B;
  transform: rotate(-2deg);
}

.maxa-riksa .title-highlight {
  display: inline-block;
  color: #33007B;
  padding: 0;
  transform: rotate(-2deg);
  margin-top: 5px;
}

.maxa-riksa .hero-subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 1px;
  margin: 0 0 12px 0;
  color: #ffffff;
}

.maxa-riksa .hero-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
  max-width: 300px;
}

.maxa-riksa .hero-image-wrapper {
  position: static;
}

.maxa-riksa .hero-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.maxa-riksa .roadshow-container {
  margin: 35px auto 60px;
  position: relative;
  max-width: 1150px;
  padding: 0 0 30px;
  background: #8B27A9;
  border: 2px solid #8B27A9;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.maxa-riksa .roadshow-title {
  font-size: 1.7rem;
  line-height: 1.3;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.maxa-riksa .roadshow-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
}

.maxa-riksa .roadshow-card {
	background-color: #6000BF;
  border-radius: 15px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.maxa-riksa .card-image-wrapper {
  flex-shrink: 0;
  width: 90px;
  height: 80px;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
}

.maxa-riksa .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.maxa-riksa .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.maxa-riksa .card-city {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.maxa-riksa .card-date {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  color: #FFB233;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 0;
}

.maxa-riksa .features-container {
  max-width: 1200px;
  margin: 0 auto;
}

.maxa-riksa .features-title {
	position: relative;
  display: inline-block;
  color: #33007B;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 8px 20px;
  margin: 0 auto 40px auto;
  text-align: center;
  z-index: 1;
}

.maxa-riksa .features-title::before {
  content: '';
  position: absolute;
  top: -10px;
    bottom: -10px;
    left: -5px;
    right: -5px;
  background-image: url('../img/zluty-stetec-top-banner.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.maxa-riksa .features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maxa-riksa .features-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.maxa-riksa .feature-card {
  background: #8B27A9;
  border: 2px solid #8B27A9;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.maxa-riksa .feature-icon-wrapper {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maxa-riksa .feature-icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.maxa-riksa .feature-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.maxa-riksa .feature-heading {
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
  line-height: 1.2;
}

.maxa-riksa .feature-text {
  font-size: 1rem;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}

.maxa-riksa .feature-highlight {
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFB233;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

.maxa-riksa .videos-container {
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maxa-riksa .videos-title {
	position: relative;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3;
  color: #33007B;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0 60px;
  z-index: 1;
}
.maxa-riksa .videos-title::before {
  content: '';
  position: absolute;
  top: -25px;
    bottom: -25px;
    left: -20px;
    right: -20px;
  background-image: url('../img/zluty-stetec-top-banner.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.maxa-riksa .videos-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 35px;
}

.maxa-riksa .video-card {
  background: #8B27A9;
  border-radius: 15px;
  padding: 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.maxa-riksa .video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  margin-bottom: 15px;
}

.maxa-riksa .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.maxa-riksa .video-label {
	position: relative;
  display: inline-block;
  color: #33007B;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
}
.maxa-riksa .video-label::before {
  content: '';
  position: absolute;
  top: -5px;
    bottom: -5px;
    left: -10px;
    right: -10px;
  background-image: url('../img/zluty-stetec.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.maxa-riksa .videos-cta-wrapper {
  text-align: center;
  width: 100%;
  margin: 0 0 40px;
}

.maxa-riksa .videos-cta-btn {
 background-color: #FFB233;
	border-width: 0;
	min-width: 70px;
	border-radius: 38px;
	box-shadow: 0px 10px 15px 0px rgba(57,55,61,1);
	color: #500cba;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 0;
	cursor: pointer;
	opacity: 1;
	transition: all .3s ease-in-out;
}

.maxa-riksa .videos-cta-btn:hover {
  transform: translateY(2px);
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
}
/* Main end */

/* Footer */
.maxa-riksa .footer-section {
  padding: 30px 15px;
  color: #ffffff;
  border-top: 0 solid #ffffff2e;
}

.maxa-riksa .footer-container {
  margin: 0 auto;
}

.maxa-riksa .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
}

.maxa-riksa .footer-logo-wrapper {
  width: 100px;
}

.maxa-riksa .footer-logo {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.maxa-riksa .footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.maxa-riksa .footer-nav li {
	display: inline-flex;
	flex-direction: column;
	gap: 20px;
}
.maxa-riksa .footer-link {
	position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
.maxa-riksa .footer-link:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	bottom: 0;
	left: 0;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.maxa-riksa .footer-link:hover:before {
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
.maxa-riksa .footer-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  width: 100%;
}
.maxa-riksa .footer-warning p {
	font-size: .9rem;
	font-weight: 400;
}
.maxa-riksa .text-warning {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.maxa-riksa .warning-badge {
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
}
.maxa-riksa .warning-text {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  line-height: 1.4;
  opacity: 0.85;
}
.maxa-riksa .warning-highlight {
  font-weight: 700;
}


@media (min-width: 580px) and (max-width: 767px) {
	.maxa-riksa .hero-image-wrapper {
		position: absolute;
		bottom: 0;
		right: 5px;
		justify-content: flex-end;
	}
	.maxa-riksa .hero-img {
		height: 250px;
	}
	.maxa-riksa .hero-content {
		background: linear-gradient(to right, rgba(51, 0, 123, 0.99) 0%, rgba(51, 0, 123, 0.8) 50%, rgba(51, 0, 123, 0) 100%);
	}
	.maxa-riksa .roadshow-card {
		width: 60%;
	}
	.maxa-riksa .video-card {
		display: flex;
		flex-direction: column;
		flex: 0 0 calc((100% - 40px) / 3);
		max-width: calc((100% - 40px) / 3);
	}
	.maxa-riksa .videos-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media (min-width: 768px) {
	.maxa-riksa .navigation-wrapper-desktop ul {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.maxa-riksa .section {
		scroll-margin-top: 5em;
	}
	.maxa-riksa .hero-image-wrapper {
		position: absolute;
		bottom: 0;
		right: 5px;
		justify-content: flex-end;
	}
	.maxa-riksa .hero-content {
		background: linear-gradient(to right, rgba(51, 0, 123, 0.99) 0%, rgba(51, 0, 123, 0.8) 10%, rgba(51, 0, 123, 0) 100%);
	}
	.maxa-riksa .hero-img {
		height: 350px;
	}
	.maxa-riksa .roadshow-grid {
		flex-direction: row;
		justify-content: center;
		gap: 10px;
		padding: 0;
	}
	.maxa-riksa .roadshow-title {
		margin-bottom: 35px;
		font-size: 2.5rem;
	}
	.maxa-riksa .roadshow-card {
		flex: 1;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 0;
		gap: 15px;
		max-width: 130px;
	}
	.maxa-riksa .card-image-wrapper {
		border-radius: 15px 15px 0 0;
		width: 100%;
		height: 120px;
	}
	.maxa-riksa .card-content {
		align-items: center;
	}
	.maxa-riksa.features-section {
		padding: 60px 20px;
	}
	.maxa-riksa .features-title {
		margin: 20px 0 50px;
	}
	.maxa-riksa .features-grid {
		flex-direction: row;
		justify-content: space-between;
		gap: 30px;
	}
	.maxa-riksa .feature-card {
		flex: 1;
		gap: 30px;
		max-width: 500px;
		padding: 25px 30px;
	}
	.maxa-riksa .feature-icon-wrapper {
		width: 90px;
		height: 90px;
	}
	.maxa-riksa .feature-heading {
		font-size: 1.25rem;
	}
	.maxa-riksa .feature-highlight {
		font-size: 1.6rem;
	}
	.maxa-riksa.videos-section {
		padding: 60px 20px;
	}
	.maxa-riksa .videos-title {
		margin: 40px 0 65px;
	}
	.maxa-riksa .videos-title::before {
		content: '';
		position: absolute;
		top: -25px;
		bottom: -25px;
		left: -50px;
		right: -55px;
		background-image: url('../img/zluty-stetec-top-banner.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: -1;
	}
	.maxa-riksa .video-card {
		display: flex;
		flex-direction: column;
		flex: 0 0 calc((100% - 40px) / 3);
		max-width: calc((100% - 40px) / 3);
	}
	.maxa-riksa .videos-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.maxa-riksa .video-label {
		font-size: 1rem;
		padding: 4px 12px;
	}
}

@media (min-width: 992px) {
	.maxa-riksa .site-header {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
	}
	.maxa-riksa .navigation-wrapper-desktop {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		position: relative;
		height: 110px;
		z-index: 99;
	}
	.maxa-riksa .navigation-wrapper-mobile {
		display: none;
	}
	.maxa-riksa .roadshow-container {
		margin: -20px auto 0;
	}
	.maxa-riksa .hero-title::before {
		content: '';
		position: absolute;
		top: -20px;
		bottom: -5px;
		left: -15px;
		right: -30px;
		background-image: url('../img/zluty-stetec-top-banner.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: -1;
	}
	.maxa-riksa .card-city {
		font-size: 1.1rem;
	}
	.maxa-riksa .card-date {
		padding: 0 0 10px;
	}
	.maxa-riksa .features-title::before {
		content: '';
		position: absolute;
		top: -20px;
		bottom: -20px;
		left: -30px;
		right: -30px;
		background-image: url('../img/zluty-stetec-top-banner.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: -1;
	}
	.maxa-riksa .videos-container {
		margin: 0 auto;
	}
	.maxa-riksa .footer-nav li {
		flex-direction: row;
		gap: 35px;
	}
	.maxa-riksa .hero-img {
		height: 450px;
	}
	.maxa-riksa .hero-content {
		background: linear-gradient(to right, rgba(51, 0, 123, 0.99) 0%, rgba(51, 0, 123, 0.8) 50%, rgba(51, 0, 123, 0) 100%);
	}
	.maxa-riksa .roadshow-card {
		width: 100%;
		max-width: 180px;
	}

	.maxa-riksa .hero-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 40px;
	}

	.maxa-riksa .hero-content {
		padding: 50px 0 50px 50px;
		align-items: flex-start;
		max-width: 550px;
	}

	.maxa-riksa .hero-title {
		font-size: 3.5rem;
	}

	.maxa-riksa .hero-subtitle {
		font-size: 2rem;
	}

	.maxa-riksa .hero-text {
		font-size: 1.1rem;
	}
}
@media(min-width: 1024px) {
	.maxa-riksa .navigation-wrapper-desktop .navigation-modify-container {
		gap: 40px;
	}
	.maxa-riksa .features-title {
		font-size: 2.5rem;
		margin: 100px 0 80px;
	}
	.maxa-riksa .videos-title {
		margin: 100px 0 90px;
		font-size: 2.5rem;
	}
	.maxa-riksa .videos-cta-wrapper {
		margin: 20px 0 80px;
	}
	.maxa-riksa.footer-section {
		padding: 40px 20px 50px 20px;
	}
	.maxa-riksa .footer-content {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		gap: 30px;
	}
	.maxa-riksa .footer-logo-wrapper {
		flex-shrink: 0;
		width: 120px;
	}
	.maxa-riksa .footer-warning {
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		border-top: none;
		padding-top: 0;
		width: auto;
		gap: 15px;
		text-align: left;
	}
	.maxa-riksa .warning-text {
		align-items: flex-start;
	}
	.maxa-riksa .footer-section {
		border-top: 1px solid #ffffff2e;
	}
}
@media(min-width: 1200px) {
	.maxa-riksa .navigation-wrapper-desktop .navigation-modify-container {
		gap: 25px;
	}
	.maxa-riksa .navigation-wrapper-desktop ul {
		gap: 13px 30px;
	}
	.maxa-riksa .roadshow-card {
		max-width: 200px;
	}
	.maxa-riksa .roadshow-grid {
		gap: 20px;
	}
	.maxa-riksa .hero-container.container {
		width: 1200px;
	}
	.maxa-riksa .video-card {
		display: flex;
		flex-direction: column;
		flex: 1 1 calc((100% - 80px) / 5);
		max-width: calc((100% - 80px) / 5);
	}
	.maxa-riksa .videos-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
@media(min-width: 1400px) {
	.maxa-riksa .navigation-wrapper-desktop .navigation-modify-container {
		gap: 60px;
	}
}
